
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_ComsLayout.cshtml";
}


@section ContactForm {
    <div class="contact_cont">
        <div class="contact_inr">
            <div class="contact_form">
            <h1 class="mt-5 mb-5">Contact Us</h1>
                <form>
                    <div class="form_row form_name">
                        <label for="c_name">Your Name</label>
                        <input type="text" id="c_name" class="form-control">
                    </div>

                    <div class="form_row form_email">
                        <label for="c_email">Your Email</label>
                        <input type="email" id="c_email" class="form-control">
                    </div>
                    <div class="form_row form_phno">
                        <label for="c_phno">Phone No.</label>
                        <input type="number" id="c_phno" class="form-control">
                    </div>
                    <div class="form_row form_sub">
                        <label for="sub">Subject Line</label>
                        <input type="text" id="sub" class="form-control">
                    </div>
                    <div class="form_row form_msg">
                        <label for="sub">Your Message</label>
                        <textarea class="from-control"></textarea>
                    </div>
                    <div>
                        <button class="btn btn-outline-dark coms-btn">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
