
@{
    ViewBag.Title = "Coupon";
    Layout = "~/Views/Shared/_ComsLayout.cshtml";
}
@section hero{
    <div class="coupon_pg_cont p-5">
        <div class="coupon_pg_inr">
            <div class="coupon_all">
                <div class="coupon_top">
                    <h1 class="">Apply for a <strong>Coupon</strong></h1>
                    <p class="">Enter your email to get coupon directly to your mailbox</p>
                </div>
                <div class="coupon_btm">
                     <input type="email" class="form-control" placeholder="Your email" />
                     <button class="btn btn-outline-light coms-btn">Send My Coupon</button>
                </div>
            </div> 
        </div>
    </div>
}