
@{
    ViewBag.Title = "Offers";
    Layout = "~/Views/Shared/_ComsLayout.cshtml";
}
<div class="Menu_cont">
    <h1 class="text-center">Offers you'll never miss!</h1>
    <div class="deal_cont">
        <div class="deal_left">
            <div class="left_top">
                <h2>Burgers & Sandwiches</h2>
                <div>
                    <img src="~/Content/Images/bun.jpg" />
                </div>
                <div>
                    <ul>
                        <li>Zinger Burger   -Rs/- 160</li>
                        <li>Chicken Burger  -Rs/- 160</li>
                        <li>Grill Breast Burger  -Rs/- 180</li>
                        <li>Special Burger  -Rs/- 180</li>
                        <li>Double Decker Burger  -Rs/- 220</li>
                        <li>Beef Burger  -Rs/- 180</li>
                        <li>Fish Burger  -Rs/- 250</li>
                        <li>Salace Burger  -Rs/- 230</li>
                    </ul>
                </div>
            </div>
            <div class="left_btm">
                <h2>Pratha Roll & Shawarma</h2>
                <div>
                    <img src="~/Content/Images/lunch.jpg" />
                </div>
                <div>
                    <ul>
                        <li>Pratha Roll   -Rs/- 140</li>
                        <li>Zinger Pratha Roll  -Rs/- 160</li>
                        <li>Wings & Pieces -Rs/- 180</li>
                        <li>Chicken Shawarma  -Rs/- 100</li>
                        <li>Chicken Cheese Shawarma  -Rs/- 130</li>
                        <li>Platter Shawarma + Cheese Rs:40 -Rs/- 200</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="deal_right">
            <div class="top_heading">
                <h2>Special Deals</h2>
            </div>
            <div class="so_row">
                <div class="so_col">
                    <h3>Deal 1</h3>
                    <ul>
                        <li>Chicken Burger</li>
                        <li>Fried Pc</li>
                        <li>Reg Coke</li>
                    </ul>
                </div>

                <div class="so_col">
                    <h3>Deal 2</h3>
                    <ul>
                        <li>Zinger Burger</li>
                        <li>Pcs Wings</li>
                        <li>1 Reg Coke</li>
                    </ul>
                </div>

                <div class="so_col">
                    <h3>Deal 3</h3>
                    <ul>
                        <li>Chicken Pratha Roll</li>
                        <li>Pcs Wings</li>
                        <li>1 Reg Coke</li>
                    </ul>
                </div>
            </div>

            <div class="so_row">
                <div class="so_col">
                    <h3>Deal 4</h3>
                    <ul>
                        <li>Chicken Burger</li>
                        <li>Fried Pc</li>
                        <li>Reg Coke</li>
                    </ul>
                </div>

                <div class="so_col">
                    <h3>Deal 5</h3>
                    <ul>
                        <li>Zinger Burger</li>
                        <li>Pcs Wings</li>
                        <li>1 Reg Coke</li>
                    </ul>
                </div>

                <div class="so_col">
                    <h3>Deal 6</h3>
                    <ul>
                        <li>Chicken Pratha Roll</li>
                        <li>Pcs Wings</li>
                        <li>1 Reg Coke</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>